.wrapper {
    width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 50px;
    width: 400px;
    text-align: center;
    margin: 0 auto;
}
.input_address_area {
    float: right;
}
    
.input_address_area form {
    height:32px;
    width:240px;
    position:relative;
}

.input_address_area input[type=text] {
width:240px;
  height:32px;
  padding:4px 40px 4px 8px;
  border:none;
  -webkit-border-radius:32px;
     -moz-border-radius:32px;
          border-radius:32px;
  -webkit-appearance: none;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position:absolute;
  background:#EEEEEE;
  top:0;
  right:0;
  backface-visibility: hidden;
  -webkit-transition: 0.25s ease-out;
     -moz-transition: 0.25s ease-out;
       -o-transition: 0.25s ease-out;
          transition: 0.25s ease-out;
}

.input_address_area input[type=text] :focus{
    background:#F6F6F6;
}
.input_address_area form button{
  width:64px;
  height:32px;
  color:#fff;
  border:none;
  -webkit-border-radius:16px;
     -moz-border-radius:16px;
          border-radius:16px;
  background:#5FB404;
  display:inline-block;
  -webkit-appearance: none;
  outline: 0;
  position:absolute;
  top:0;
  right:0;
  cursor:pointer;
  backface-visibility: hidden;
  -webkit-transition: 0.3s ease-out;
     -moz-transition: 0.3s ease-out;
       -o-transition: 0.3s ease-out;
          transition: 0.3s ease-out;
}
.input_address_area form button:hover{
  opacity:0.8;
}

header img {
    width: 150px;
}

#map {
    width: 700px;
    height: 500px;
    float: left;
}

.time_line {
    width: 300px;
    float: left;
}

